/* write here health styling  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#mainSy{
  
    width: 50%;
    margin: auto;
}
#mainSy img{
  
    width: 100%;
   
}
#mainSy .chilSy{
  
   background : white;
    width: 95%;
    margin: auto;
    margin-top: -28px;
    position: relative;
 
    padding: 10px;
    

    position: relative;
   
}
#mainSy a{
 font: 600 12px/15px Arial;
color: #585858;
text-transform: uppercase;
position: relative;
padding-right: 5px;
z-index: 1;
display: inline-block;
margin: 0 10px;
cursor: pointer;
outline: 0;
text-decoration: underline;     
text-decoration-color: #fad65f ;
font-style: bolder;
font-size: 18px;
margin-bottom: 15px;

}

hr{
    margin: 15px;
}
.h1Sy{
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    color: #000;
}

