*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: "poppins" , sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff#fff;

}

footer{
    
    width: 100%;
    bottom:0;
    left: 0;

}


footer .content{
   
    max-width: 1050px;
    margin: auto;
    padding: 30px 40px 40px 40px;
   

}

footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin-bottom: 10px;
    
}

.content .top.media_icons{
    display: flex;
    
}


.content .top .media_icons a{
    
    
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 30%;
    text-align: center;
    line-height:40px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.4s ease;
    background: red;
    

}


.content .top .media_icons a:nth-child(1){
    background-color: #4267B2;
}
.content .top .media_icons a:nth-child(1):hover{
    color: #4267B2;
    background-color: #fff;
}


.content .top .media_icons a:nth-child(2){
    background-color: #1DA1F2;
}

.content .top .media_icons a:nth-child(2):hover{
    color: #1DA1F2;
    background-color: #fff;
}


.content .top .media_icons a:nth-child(3){
    background-color: #E1306C;
}

.content .top .media_icons a:nth-child(3):hover{
    color: #E1306C;
    background-color: #fff;
}


.content .top .media_icons a:nth-child(4){
    background-color:#ff0000#f00;
}

.content .top .media_icons a:nth-child(4):hover{
    color: #ff0000#f00;
    background-color: #fff;
}

.hr{
    margin-top: 10px;
}

footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

footer .content .link-boxes .box{
    width: calc(100%/5-10px);
}

.content .link-boxes .box .link_name{
    margin-bottom: 10px;
    margin-top: 8px;
    position: relative;
}



.content .link-boxes .box li{
    list-style: none;
    margin: 6px;
}


.content .link-boxes .box li a {
    text-decoration: none;
    color: black;
   
}


.media{
   width: 100%;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
   
}

.media>h2{
    padding-right: 10px;
}

.media>h2+p{
    padding-right: 15px;
    padding-top: 6px;
}

.us{
    text-decoration: none;
    padding-top:6px ;
    color: black;
    padding-right: 15px;
    
}

.bottom_text{
    text-align: center;
    margin-top: 20px;
}

.term{
    width: 100%;
    display: flex
    
    
}
.term{
    
    justify-content: center;
    margin-top: 10px;
}


@media(max-width:900px){
    footer .content .link-boxes{
        flex-wrap: wrap;
    }
}


@media(max-width:700){
     
    footer{
        position: relativez;
    }     
.content .top .media_icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
}
footer .content .link-boxes .box{
    width: calc(100%/5-10px);
}
.media{
    font-size: 12px;
}
.bottom_text{
    font-size: 12px;
}
.term{
    font-size: 13px;
}
}

@media(max-width:520px){
    footer .content .top{
        flex-direction: column;
    }
    .content .top.media_icons{
        margin-top: 16px;
    }
    
footer .content .link-boxes .box{
    width: calc(100%/2-10px);
}

}



.main{
    margin-bottom: 700px;
}