
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #mainSy {
    width: 50%;
    margin: auto;
  }
  #mainSy img {
    width: 100%;
  }
  #mainSy .chilSy {
    background: white;
    width: 95%;
    margin: auto;
    margin-top: -28px;
    position: relative;
    padding: 10px;
    /* position: relative; */
  }
  #mainSy a {
    font: 600 12px/15px Arial;
    color: #585858;
    text-transform: uppercase;
    position: relative;
    padding-right: 5px;
    z-index: 1;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    outline: 0;
    text-decoration: underline;
    text-decoration-color: #fad65f;
    font-style: bolder;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .h1Sy {
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    color: #000;
  }
  .hr {
    display: flex;
    width: 100%;
    height: 10px;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin: 15px 0px;
  }
  .hr > div:nth-child(1) {
    width: 39%;
    padding-top: 2px;
  
    /* border: 2px solid rgb(37, 165, 50); */
  }
  .hr > div:nth-child(2) {
    width: 20%;
    height: 6px;
  
    background-color: #fad65f;
    /* border: 2px solid rgb(37, 165, 50); */
  }
  
  .hr > div:nth-child(3) {
    width: 39%;
  
    padding-top: 2px;
  }
  hr {
    background-color: #000;
  }
  
  @media all and (min-width: 760px) and (max-width: 1024px) {
    #mainSy .chilSy > h1 {
      font-size: 20px;
    }
    #mainSy .chilSy > p {
      font-size: 15px;
    }
    #mainSy .chilSy > a {
      font-size: 16px;
    }
    #mainSy {
      width: 80%;
      margin: auto;
    }
  }
  @media all and (min-width: 320px) and (max-width: 759px) {
    #mainSy .chilSy > h1 {
      font-size: 16px;
    }
    #mainSy .chilSy > p {
      font-size: 13px;
    }
    #mainSy .chilSy > a {
      font-size: 13px;
    }
    #mainSy {
      width: 100%;
      margin: auto;
    }
  }