*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 90px;
}
#first{
    width: 100%;
    height: 60%;
    margin: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}
#child{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-rows: 1 fr;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    gap: 190px;
    margin-left: 250px;
}
.side{
    width: 20%;
    height: 500px;
    position: absolute;
    background-color: #fff;
    border: 2px solid red;
}

 /* icons style start */

#child > div:nth-child(2) > a:nth-child(1){
    padding: 2px;
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color: rgb(0, 0, 164);
   text-decoration: none;
}
#child > div:nth-child(2) > a:nth-child(2){
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color: blue;
   text-decoration: none;
}
#child > div:nth-child(2) > a:nth-child(3){
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color:#e95950;
   text-decoration: none;
}
#child > div:nth-child(2) > a:nth-child(4){
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color:#C31E1E;
   text-decoration: none;
}

/* icons style end */


#second{
    width: 100%;
    height: 40%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;

}
#childAm{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

#childAm > p{
    margin-left: 20px;
    margin-top: 6px;
    font-size: 15px;
}
#childAm > p > a{
   text-decoration: none;
   color: rgb(46, 43, 43);
}

#seChildAm{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#seChildAm > button{
    background-color: blue;
    color: white;
    border: none;
    padding: 3px;
    margin: 5px 20px 7px 60px;
    cursor: pointer;
    font-weight: bold;

}