*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 90px;
    position: relative;
}
#first{
    width: 100%;
    height: 60%;
    margin: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}
#child{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-rows: 1 fr;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    gap: 190px;
    margin-left: 250px;
}
.side{
    width: 20%;
    height: 500px;
    position: absolute;
    background-color: #fff;
}


 /* icons style start */

/* #child > div:nth-child(2) > a:nth-child(1){
    padding: 2px;
    margin-right: 10px;
   border: none;
   border-radius: 30px;
   padding: 4px;
   color: white;
   background-color: #005498;
   text-decoration: none;
}
#child > div:nth-child(2) > a:nth-child(2){
    margin-right: 10px;
   border: none;
   border-radius: 30px;
   padding: 4px;
   color: white;
   background-color: #01b0ef;
   text-decoration: none;
  
   

}
#child > div:nth-child(2) > a:nth-child(3){
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color:#ce5172;
   text-decoration: none;
   text-align: center;
}
#child > div:nth-child(2) > a:nth-child(4){
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color:#c31e1d ;
   
   text-decoration: none;
} */

/* icons style end */


#second{
    
    width: 100%;
    height: 40%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    /* border: 2px solid red; */
    background-color: white;
   

}
#childAm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    

}

#childAm > p{
    margin-left: 19px;
    margin-top: 6px;
    font-size: 15px;
}
#childAm > p > a{
   text-decoration: none;
   color: rgb(46, 43, 43);
}

#seChildAm{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
     padding-right: 8%;
}
#seChildAm > a > button{
    background-color: #005498;
    color: white;
    border: none;
    padding: 3px;
    margin: 5px 20px 7px 60px;
    cursor: pointer;
    font-weight: bold;

}



.slide{
    height: 95%;
    width: 380px;
    position: absolute;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-380px);
}

ul li{
    list-style: none;
}
ul{
    margin-top: 55px;
}

ul li a{
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
    margin-left: 160px;
    font-size: 24px;
    margin-bottom: 10px;
    
    
}


input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;

}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 325px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: black;
    border-radius: 50px;
    transition: 0.3s ease;

}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}


input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}


input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}


input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.lower_logo{
    font-size: 30px;
    padding-top: 10px;
    padding-left: px;
    
}
#us1{
    padding: 2px;
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color: #005498;
   text-decoration: none;
}

#us2{
    margin-right: 10px;
    border: none;
    border-radius: 30px;
    padding: 4px;
    color: white;
    background-color: #01b0ef;
    text-decoration: none;
   
}

#us3{
    margin-right: 10px;
    border: none;
    border-radius: 50px;
    padding: 4px;
    color: white;
    background-color:#ce5172;
    text-decoration: none;
    text-align: center;
}


#us4{
    margin-right: 10px;
   border: none;
   border-radius: 50px;
   padding: 4px;
   color: white;
   background-color:#c31e1d ;
   
   text-decoration: none;
}

a{
    text-decoration: none;
}

/* this is our unique work */

.hr {
    display: flex;
    width: 100%;
    height: 10px;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin: 15px 0px;
  }
  .hr > div:nth-child(1) {
    width: 39%;
    padding-top: 2px;
  
    /* border: 2px solid rgb(37, 165, 50); */
  }
  .hr > div:nth-child(2) {
    width: 20%;
    height: 6px;
  
    background-color: #fad65f;
    /* border: 2px solid rgb(37, 165, 50); */
  }
  
  .hr > div:nth-child(3) {
    width: 39%;
  
    padding-top: 2px;
  }
  hr {
    background-color: #000;
  }


  /* this style is for slider */

  .container {
    /* border: 1px solid red; */
    width: 90%;
    /* height: 100vh; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  #prev {
    position: absolute;
    color: transparent;
    cursor: pointer;
    left: 40%;
    bottom: -8px;
    font-weight: bold;
    font-size: 200px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  #next {
    position: absolute;
    color: transparent;
    cursor: pointer;
    right: 40%;
    bottom: -8px;
    font-size: 200px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Fading animation */
  
  .fade {
    animation: fade 0.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* this style is for right */
 
  #papaOfall{
    width: 100%;
    height: 1000px;
    border: 2px solid red;
  }
 

  