@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

// Mixin
@mixin phone {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin laptop {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1200px) {
		@content;
	}
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Noto Sans HK', sans-serif;
	background: #fff;
}

.slider {
	margin-bottom: 30px;
	position: relative;
	.owl-item.active {
		&.center {
			.slider-card {
				transform: scale(1.15);
				opacity: 1;
			}
		}
	}
}

.slider-card {
	background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;

.slider-card img{
	border-radius: 5px 5px 0px 0px;
}
}
.owl-nav {
	.owl-prev {
		position: absolute;
		top:calc(50% - 25px);
		left:0;
		opacity:0.7;
		font-size: 30px !important;
		z-index:1;
	}
	.owl-next {
		position: absolute;
		top:calc(50% - 25px);
		right:0;
		opacity:0.7;
		font-size: 30px !important;
		z-index:1;
	}
}
.owl-dots {
	text-align: center;
	.owl-dot {
		height: 10px;
	width: 10px;
	border-radius: 10px;
	background: #ccc !important;
	margin-left: 3px;
	margin-right: 3px;
	outline: none;
		&.active {
			background: #f44336 !important;
		}
	}
}
